{% extends "base.html" %}
{% load i18n %}

{% block media %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}shout/css/style.css" rel="stylesheet" type="text/css" media="screen" />
  {{ form.media }}
{% endblock %}

{% block title %}{% trans "Unsubscription confirmed!" %}{% endblock %}

{% block content %}
<div class="post">
  <h2 class="title">{% trans "Thank you!" %}</h2>
  <p>{% trans "We confirm the unsubscription of" %} {{ object }} {% trans "from" %} {{ object.list }}. {% trans "Thanks for your interest in our activities. You will no longer hear from us." %}</p>
</div>
{% endblock %}
